*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;

}
.logo{
    height: 100%;
    width: 250px;
    /* background-color: aqua; */
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 60%;
    width: 70%;
}
.home{
    height: 100%;
    width: fit-content;
    /* background-color: blue; */
    margin-left: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    font-size: 15px;
    font-weight: 00;
}
.home h3{
   
    gap: 10px;
    font-weight: 500;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 30px;
}
.mainbox{
    height: 500vh;
    width: 100%;
    background-color: rgb(110, 110, 161);
   background-color: aqua;

}
.main{
    height:500px;
    width: 100%;
    background: linear-gradient(90deg, rgba(218,194,255,1) 5%, rgba(64,91,255,1) 50%, rgba(132,113,255,1) 89%, rgba(179,97,255,1) 100%);
    display: flex;
    align-items: center;
  
   
}
.head{
    height: 350px;
    width: 600px;
    /* background-color: bisque; */
    margin-left: 500px;
    /* margin-bottom: 300px; */
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
  

}
.head h1{
   text-align: center;
   font-size: 3.5rem;
   font-weight: 500;
   color: whitesmoke;
}
.head p{
    text-align: center;
    font-size: 22px;
    color: white;
}
.search{
    height: 100%;
    width: 100%;
/* background-color: aqua; */
display: flex;
/* align-items: center; */
/* justify-content: center; */
border-radius: 10px,0px,0px,10px;

}
.search input{
    height: 60px;
    width: 500px;
    /* text-align: center; */
   border: 0px;   
   font-size: 15px; 

}
.icon1{
    height: 60px;
    width: 60px;
    /* border:2px solid; */
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: white;
   
}
#ic2{
    font-size: 20px;
    color:black;

}
.phot{
    width: 100%;
  height: 450px;
  background-color: bisque;
  margin-bottom: 60px;
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  gap: 20px;


} 
.box{
    height: 350px;
    width: 100%;
    overflow: scroll;
    /* background-color: tomato; */
    padding: 10px;
}
::-webkit-scrollbar{
    display: none;
}
.innerbox{
    height:100% ;
    width: fit-content;
    /* background-color: aqua; */
    padding: 10px;
    display: flex;
    gap: 10px;
    animation-name: scroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.image{
    height: 100%;
    width: 300px;
    /* background-color: yellowgreen; */
}
.image img{
    height: 100%;
    width: 100%;
}

@keyframes scroll {
    
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1000px);
    }
}
.exp{
    height:130px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.exp h1{
    font-size:45px;
}
.exp h2{
    font-size: 45px;
    color: #4ADE80;
}
.box2{
    height: 450px;
    width: 100%;display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: aquamarine; */
    gap:30px;
}
.card{
    height: 100%;
    width: 25%;
    background-color: white;
    margin-left: 100px;
    border-radius: 10px;
    overflow: hidden;
    
}
.card img{
    height: 60%;
    width: 100%;
    background-color: blue;
}
.price{
    /* margin-left: 10px; */
    font-size: 20px;
    /* padding: px; */
    margin: 10px;
    padding-left: 15px;
    padding-top: 15px;
}
.del{

    font-size: 20px;
    /* padding-left: 15px; */
    /* padding-top: 15px; */


}
.card h3{
    /* text-align: center; */
    font-size: 20px;
    margin: 10px;
   /* margin-left: 10px; */
   padding-left: 20px;
}
.card button{
    margin:9px;
    height: 40px;
   width: 95%;
   background-color: black;
   color: white;
}
.view{
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.view1{
    height: 100%;
    width: 130px;
    border: 2px solid ;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
   
}
.view1 h3{
    margin-left: 10px;
    font-size:20px;
    font-weight: 300;
}
.view1 i{
    color: black;
    font-size:20px;
    font-weight: 300;
}
.box3{
    height: 60px;
    width: 100%;
    /* background-color: black; */
}
.innerbox2{
      height: 60px;
      width: 100%;
      background-color: white;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      animation-name: scroll;
      animation-duration: 10s;
      animation-iteration-count: infinite;
  
}
.innerbox2 p{
    /* height: 100%;
    width: 300px; */
    height: 100%;
    width: 100%;
    font-size: 15px;
}