*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 100px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content:center ;
    
}
.logo{
    height: 100%;
    width: 250px;
    background-color: blueviolet;
    margin-left: 100px;
}
.home{
    height: 100%;
    width: 900px;
    background-color: blue;
   margin-left: 450px;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 60px;
    font-size: 20px;
}
.home h3{
    gap:50px;
    margin-left: 90px;
}
.icon{
    font-size: 30px;
     width: 30%;
}
.main{
    height: 550px;
    width: 100%;
    background-color:rgb(167, 167, 218) ;
}
